[Desktop Entry]
Version=1.1
Type=Application
Name=JASP
TryExec=startjasp
Exec=startjasp
Keywords=PsychNotebook
Categories=Science
Description=Statistical package for both Bayesian and Frequentist statistical methods
Description[de]=Statistische Datenanalyse
Icon=jasp
Interfaces=org.leibniz-psychology.conductor.v1
